* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: #1d1e4c 10px solid;
}
.content {
  margin: 0 auto;
  max-width: 900px;
}

/* top section */
.top_section {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 60px;
  font-weight: bold;
}
.top_section h4 {
  font-size: 30px;
  text-align: end;
}
.image_container {
  overflow: hidden;
  border-radius: 50%;
}
.image_container,
img {
  width: 300px;
  height: 320px;
}

/* about section */
.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

/* biography section */
.biography_section {
  margin: 50px 0;
}
.biography_section h3 {
  margin-bottom: 20px;
}

.biography_section ul {
  margin-left: 50px;
}
.biography_section li {
  margin-bottom: 15px;
}

footer {
  margin: 50px 0;
  text-align: end;
}

@media (max-width: 575px) {
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
  /* top section */
  .top_section {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .top_section h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .top_section h4 {
    font-size: 30px;
    text-align: center;
  }

  .image_container,
  img {
    width: 200px;
    height: 220px;
  }

  /* about section */
  .about_section {
    margin-top: 50px;
    padding: 15px;
  }

  .about_section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .about_section p {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
  }
  /* biography section */
  .biography_section {
    margin: 50px 15px;
  }
  .biography_section h3 {
    margin-bottom: 20px;
  }

  .biography_section ul {
    margin-left: 20px;
  }
  .biography_section li {
    margin-bottom: 15px;
  }
  footer {
    margin: 30px 0;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .content {
    margin: 0 auto;
    max-width: 100%;
  }
  /* top section */
  .top_section {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .top_section h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .top_section h4 {
    font-size: 35px;
    text-align: center;
  }

  .image_container,
  img {
    width: 200px;
    height: 220px;
  }

  /* about section */
  .about_section {
    margin-top: 50px;
    padding: 15px;
  }

  .about_section h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  /* biography section */
  .biography_section {
    margin: 50px 15px;
  }
  .biography_section h3 {
    margin-bottom: 20px;
  }

  .biography_section ul {
    margin-left: 20px;
  }
  .biography_section li {
    margin-bottom: 15px;
  }
  footer {
    margin: 30px 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content {
    margin: 0 auto;
    max-width: 100%;
  }

  /* top section */
  .top_section {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .top_section h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .top_section h4 {
    font-size: 35px;
    text-align: center;
  }

  .image_container,
  img {
    width: 300px;
    height: 320px;
  }

  /* about section */
  .about_section {
    margin-top: 50px;
    padding: 15px;
  }

  .about_section h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  /* biography section */
  .biography_section {
    margin: 50px 15px;
  }
  .biography_section h3 {
    margin-bottom: 20px;
  }

  .biography_section ul {
    margin-left: 20px;
  }
  .biography_section li {
    margin-bottom: 15px;
  }
  footer {
    margin: 30px 0;
    text-align: center;
  }
}

/* Figma design link -https://www.figma.com/design/w9WPhB3gzblxIzRUeYr2Gx/10-HTML-%2B-CSS-PROJECT?node-id=195215-4&node-type=frame&t=RBNYdAXpXgphILVg-0 */

/* various section in media queries
Extra Small Devices (Mobile Phones)
@media (max-width: 575px) {
  } 

  Small Devices (Tablets or Larger Phones)
  @media (min-width: 576px) and (max-width: 767px) {
}

Medium Devices (Small Laptops/Tablets)
@media (min-width: 768px) and (max-width: 991px) {
  }

  Large Devices (Desktops and Laptops)
@media (min-width: 992px) and (max-width: 1199px) {
  }

  Extra Large Devices (Large Desktops)
  @media (min-width: 1200px) {
}






*/
