@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  gap: 10px;
}

.menu {
  border: 1px solid #ccc;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: white;
}
.menu h2 {
  font-size: 2.2em;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.menu ul {
  list-style: none;
}
.menu li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 1.2em;
}
.menu ul a {
  text-decoration: none;
  color: black;
}
.menu ul li:hover {
  background-color: #ccc;
  cursor: pointer;
}
.content {
  padding: 50px;
  margin-right: 100px;
  scroll-margin: 50px;
}

.content section {
  margin-bottom: 50px;
}

.content h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.content p {
  margin-bottom: 20px;
}

.content li {
  margin-left: 30px;
  margin-bottom: 20px;
}
